<div>
  <%= render "shared/title", title: "Dashboard" %>

  <%= render "shared/month_nav", current_date: @current_date %>


  <%= render "top_stats", total_this_month: @total_this_month, total_income: @total_income, balance: @balance %>
  <%= render "spending_by_category", by_category: @by_category %>
</div>
